.row {
    display: flex;
}

.col {
    flex: 1;
    background-color: #FFA71A;
    height: 100px;
    margin: 10px;
}

.col-2 {
    flex: 2;
    background-color: #FFA71A;
    height: 100px;
    margin: 10px;
}

.col-3 {
    flex: 3;
    background-color: #FFA71A;
    height: 100px;
    margin: 10px;
}